
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('链接') %></h3>
    <div class="widget">
      <a href="https://github.com/CoderTian" title="Zippera's Blog"><li>我的github</li></a>
      <a href="http://weibo.com/2745387325" title="Zippera's Blog"><li>我的微博</li></a>
      <a href="http://www.pdzhangyi.com" title="Zippera's Blog"><li>产品小易的博客</li></a>
      <a href="http://www.pmforever.cn" title="Zippera's Blog"><li>产品小查的博客</li></a>
      <a href="http://blog.onlinecache.cn" title="Zippera's Blog"><li>安卓大神银银的博客</li></a>
    </div>
  </div>
